<h1>Stupid Coaching</h1>
<div class="usq">
<p><%= params[:question] %></p>
<p><i>- You</i></p>
</div>

<div class = "coan">
<p class ="answer"><strong><%= @answer %></strong></p>
<p class="coach"><i>- Your coach</i></p>
</div>

<%= link_to "Ask a new question", "ask" %>
